<div class="podcast-channel">
    <h2 class="podcast-channel-title">Latest Episodes</h2>
    <div class="episodes">
        {% for episode in episodes %}
            {% if episode.header.podcast.audio.meta %}
            {% set audio = episode.header.podcast.audio.local ? episode.media[episode.header.podcast.audio.local | first.name].url : episode.header.podcast.audio.remote  %}

            <div class="episode">
                <div class="episode-date">{{ (episode.date)|date('F j, Y') }}</div>
                <a href="{{ episode.url }}" class="episode-title-link">
                    <h2 class="episode-title">{{ episode.title }}</h2>
                </a>
                {% if episode.subtitle %}
                    <h4 class="episode-subtitle">{{ episode.subtitle }}</h4>
                {% endif %}

                {% if episode.content %}
                <div class="episode-description">
                    {{ (episode.content) }}
                </div>
                {% endif %}

                <div class="episode-player">
                    {% include 'partials/episode_player.html.twig' with {'episode': episode, 'audio': audio} %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
