{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set series = page.collection({ 'items': '@self.descendants', 'order': {'by': 'date', 'dir': 'desc'}} ).ofType('podcast-series') %}
    {% set episodes = page.collection({ 'items': '@self.descendants', 'order': {'by': 'date', 'dir': 'desc'}} ).ofType('podcast-episode') %}
    <div class="podcast-channel-header">
        {% if page.header.podcast.itunes.image %}
            <div class = "podcast-channel-image">
                {% set channel_image = ((header.podcast.itunes.image)|first) %}
                {{ page.media[channel_image.name].resize(200, 200).html() }}
            </div>
        {% endif %}
        <div class="channel-meta">
            <h1 class="channel-title">{{ header.title }}</h1>
            {% if page.header.subtitle %}
                <h3 class="channel-subtitle">{{page.header.subtitle}}</h3>
            {% endif %}
        </div>
        <div class="channel-links">
            <a href="{{base_url_simple}}{{page.route}}.rss" class="channel-link button"><i class="fa fa-rss" aria-hidden="true"></i> Subscribe <span>To {{page.title}}</span></a>
        </div>
    </div>

    {% include 'partials/podcast_episodes_list.html.twig' %}

{% endblock %}

